<!DOCTYPE html>
{% extends 'base/base.html' %}
{% load static %}
{% block title %}Index{% endblock title %}
{% block description %}All video content{% endblock description %}



{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="mt-4 mb-3">List of videos</h1>
            <ol>
                {% for video in videos %}
                    <li><a href="{{ video.get_absolute_url }}">{{ video.title | default:"No videos" }}</a></li>
                {% empty %}
                    <li>No video was found</li>
                {% endfor %}
            </ol>
        </div>
    </div>
</div>
{% endblock body %}