{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{% block title %}Home{% endblock title %}</title>

	<meta name="description" content="Testing my Django skills">
	<meta name="author" content="Diego">

	<link rel="icon" type="image/png" href="{% static 'img/django-logo.webp' %}">
	<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

	{#    <img src="{% static '<pasta>/<nome_da_img' %}" alt="random photo" class="img-thumbnail-float mr"/>#}

</head>
<body>

<nav class="navbar navbar-expand-sm navbar-dark" style="background-color: #343a40">
	<div class="container-fluid">
		<a class="navbar-brand ms-2" href="{% url 'base:home' %}">Home</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
						aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">

			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a class="nav-link active" aria-current="page" href="https://www.shockwaveradio.com.br/"
						 target="_blank">News</a>
				</li>

				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						Modules
					</a>
					<ul class="dropdown-menu dropdown-menu-dark">
						{% for module in MODULES %}
							<li>
								<a class="dropdown-item" href="{{ module.get_absolute_url }}">{{ module.title }}</a>
							</li>
						{% endfor %}
					</ul>
				</li>
			</ul>
		</div>
	</div>
	{% if user.is_authenticated %}
		<div class="text-end me-4">
			<ul class="navbar-nav me-2">
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						{{ user.first_name }}
					</a>

					<ul class="dropdown-menu">
						<li><a class="dropdown-item btn-danger" href="{% url 'logout' %}">Logout</a></li>
					</ul>
				</li>
			</ul>
		</div>
	{% else %}
		<div class="col-md-4 text-end">
			<a type="button" class="btn custom-element shine me-2" href="{% url 'login' %}">Login</a>
			<a type="button" class="btn btn-primary shine me-3 " href="{% url 'base:register' %}">Sign-up</a>
		</div>
	{% endif %}
</nav>

{% if messages %}
		{% for message in messages %}
				<div class="container-sm text-center mt-3">
						<div class="row justify-content-md-auto">
								<div class="col-md-auto">
										<div class="alert alert-warning alert-dismissible fade show" role="alert">
												{{ message }}
												<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
										</div>
								</div>
						</div>
				</div>
		{% endfor %}
{% endif %}



{% block content %}{% endblock %}
{% block registration_login %}{% endblock %}

</body>
</html>
