{% extends 'base/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

{% block content %}
	<main class="container" style="margin-top: 5%">
  <div class="bg-body-tertiary p-5 rounded">
    <h1 class="text-primary-emphasis">Navbar example</h1>
    <p class="lead">This example is a quick exercise to illustrate how the top-aligned navbar works. As you scroll,
										this navbar remains in its original position and moves with the rest of the page.
		</p>
    <a class="btn btn-lg btn-success" href="https://www.getbootstrap.com/docs/5.3/components/navbar/"
			 role="button" target="_blank">View navbar docs »
		</a>
  </div>
	</main>
{% endblock %}


</html>
