
#navbar-end-mine {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    flex-wrap: wrap;
}

#items-nav-end-mine {
    margin-left: 1.5%;
    margin-right: 1.5%;
    flex: 0 10 auto;
    width: auto;
}

.shine:hover {
    background-color: #198754;
}

.custom-element {
  color: black;
  background-color: white;
}
