<!DOCTYPE html>
{% extends 'base/base.html' %}
{% load static %}
{% block title %}Video{% endblock %}
{% block description %}Video Page{% endblock description %}

{% block content %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'base:home' %}">Home</a></li>
    <li class="breadcrumb-item"><a href="{{ lesson.module.get_absolute_url }}">{{ lesson.module.title }}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ lesson.title }}</li>
  </ol>
</nav>

<div class="container">
    <div class="row align-content-center">
        <div class="col-md-auto">
            <h1 class="mt-4 mb-3">{{ lesson.title | default:"No title" }}</h1>
            <iframe src="https://player.vimeo.com/video/{{ lesson.vimeo_id }}" width="1080" height="720"
                    allow="autoplay; fullscreen" allowfullscreen></iframe>
        </div>
    </div>
</div>
{% endblock content %}